body
{
	margin:0px;
	font-family:'Arial',sans-serif;

}

/*----------Main-Header----------*/
#main-header
{
	background:white url('r1.jfif') no-repeat scroll center;
	background-size:cover;
	padding:23px;
	text-align:right;
}
#main-header h1
{
	margin:0px;
	color:white;
	font-size:40px;
}

/*----------Main-Navbar----------*/
#main-nav
{
	background:linear-gradient(45deg, #ff3333,#59b300,brown);
	padding:5px;
	display:flex;
	flex-direction:row;
}
#main-nav a
{
	color:white;
	text-decoration:none;
	margin:5px;
	display:inline-block;
	padding:10px 20px;
}
#main-nav a.active
{
	background:linear-gradient(45deg,grey,darkred);
	border-radius:10px;
	color:white;
}
#main-nav a:hover
{
	background:linear-gradient(45deg,grey,rgb(242,147,36));
	border-radius:10px;
	box-shadow:0 0 10px black;
}
.fa
{
	padding-right:5px;
}


/*----------Main-Section----------*/
#main-section
{
	text-align:center;
	margin:15px 0px;
}
#main-section .main-section-article
{
	box-shadow:0 0 10px darkred;
	width:330px;
	height:500px;
	margin:5px;
	display:inline-grid;
	border-radius:0px 30px 0px 30px;
	transition:all 0.5s;
}
#main-section .main-section-article:hover
{
	width:340px;
	cursor:pointer;
}
.main-section-article img
{
	width:100%;
}
.main-section-article .main-section-text
{
	padding:10px;
}

/*----------Main-Section-News----------*/
#main-section-news
{
	width:80%;
	margin:auto;
}
#main-section-news .main-section-news-article
{
	border:2px solid #59b300;
	box-shadow:0 0 10px darkred;
	border-radius:20px;
	margin:10px;
	overflow:hidden;
	text-align:center;
}
#main-section-news .main-section-news-article img
{
	width:500px;
	height:300px;
	box-shadow:0 0 10px darkred;
	border-radius:20px;
	transition:all 0.5s;
	overflow: hidden;
}
#main-section-news .main-section-news-article img:hover
{
	transform:scale(1.1,1.1);
}
#main-section-news .main-section-news-article h2
{
	background-color:#ff3333;
	color:white;
	margin:0px;
	padding:10px;
}

@media (max-width:1000px)
{
	#main-nav
	{
		flex-direction:column;
	}
}
@media (max-width:1200px)
{
	#main-nav
	{
		flex-direction:column;
	}
	#main-section-news .main-section-news-article img
	{
		width:400px;
	}

}
@media (max-width:500px)
{
	#main-nav
	{
		flex-direction:column;
	}
	#main-section-news .main-section-news-article img
	{
		width:200px;
	}

}
 .gallery article{
	position:relative;
	width:auto;
	height:auto;
overflow: hidden;

}
 .gallery article img{
	width:300px;
	height:300px;
	margin-left:10px;
	float:left;
	border:2px solid black;
	border-radius:10px;
	transition:transform;
	transition:all 2s;
	margin-top:20px;
	overflow: hidden;
	position: relative;


	
}
.gallery article img:hover{
	transform:scale(1.2);

}
#footer{
	background:linear-gradient(45deg, #ff3333,#59b300,brown);
	text-align: center;
	padding:10px;
	font-size: 20px;
	height: 20px;
	border-radius:10px 0px 10px 0px;
	margin-top:10px;
}
.about{
	background:linear-gradient(45deg,pink,green);
}
.about #a1{
	background:linear-gradient(45deg,yellow,brown,pink);
	border-radius:10px 0px 10px 0px;
	border:1px solid black;
	margin-top:20px;
	margin-left:5px;


}
#login{
			width:270px;
			background: linear-gradient(45deg,deeppink,green,red);
			margin:90px auto;
			text-align:center;
			color:black;
			border-radius: 20px;
			border-shadow:0 0 10px white;
		}
		.form-group input[type="text"],
		.form-group input[type="password"],
		.form-group input[type="number"],
		.form-group input[type="email"],
		.form-group textarea
		{
			height:25px;
			color:black;
			margin-top:10px;
			border:none;
			outline:none;
			background:none;
			border-bottom: 3px solid white;
			font-size:15px;
		}
		::placeholder
		{
			color:white;

		}
		.form-group select{
			width:173px;
			color:white;
			
		}
		.form-group input[type=submit]{
			margin:20px;
			width:173px;
			height:25px;
			border-radius:10px;
			outline:none;
			border:none;
			background:linear-gradient(45deg,pink,cyan,yellow);
			font-weight:bold;
			color:blue;
			font-size: 17px;
		}
		.form-group input[type=submit]:hover
		{
			box-shadow: 0 0 10px white;
			cursor:pointer;
		}
		.fas{
			font-size:30px;
			margin-top:-20px;
			background-color:cyan;
			border-radius:50%;
			border:10px solid pink;
		}

